<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/js/bootstrap.min.js" th:href="@{/js/jquery-3.2.1.min.js}" rel="stylesheet" media="screen"/>
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-faded">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" th:href="@{/list-bids-now-mount}">Заявки за текущий месяц</a>
        <a class="nav-item nav-link" th:href="@{/list-bids-last-mount}">Заявки за прошлый месяц</a>
        <a class="nav-item nav-link" th:href="@{/approval-bid}">Одобрения заявки</a>
    </div>
</nav>
</body>
<!--</html>-->
<!--<body>-->
<!--<a th:href="@{/list-bids-now-mount}" th:type="Заявки за текущий месяц"></a>|-->
<!--<a th:href="@{/list-bids-last-mount}" th:text="Зфявуи за прошлый месяц"></a>-->
<!--<a th:href="@{/approval-bid}" th:text="Одобрения заявки"></a>-->
<!--<a th:href="@{/}" th:text="Заявка"></a>-->
<!--</body>-->
</html>