<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/js/bootstrap.min.js" th:href="@{/js/jquery-3.2.1.min.js}" rel="stylesheet" media="screen"/>
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <style type="text/css">
        table th, table td {
            padding: auto;
        }

        body {
            background-image: url('/pic/backgroung.png');
            background-size: 100%;
        }
    </style>
</head>
<body>
<!--<div th:replace="fragments/header :: header"/>-->
<form method="post">
    <div class="container-fluid">

        <div class="row">
            <table border="1" bgcolor="white"  class="table">
                <thead data-th-bgcolor="white">
                <tr>
                    <th align="center">Номер</th>
                    <th align="center">Отдел</th>
                    <th align="center">Название документа</th>
                    <th align="center">ФИО заказчика</th>
                    <th align="center">Тираж</th>
                    <th align="center">Формат бумаги</th>
                    <th align="center">Плотность бумаги</th>
                    <th align="center">Модель принтера</th>
                    <th align="center">Статус работы</th>
                    <th align="center">Дата</th>
                    <th align="center">Разрешение</th>
                </tr>
                </thead>
                <tbody>
                <tr th:scope="row" bgcolor="white" th:each="all : ${bids}">
                    <td align="center" th:text="${all.id}"></td>
                    <td align="center" th:text="${all.department.name}"></td>
                    <td align="center">
                        <a th:href="@{/approval-bid/(id = ${all.id})}" th:text="${all.documentName}"/>
                    </td>
                    <td align="center" th:text="${all.customerOder}"></td>
                    <td align="center" th:text="${all.edition}"></td>
                    <td align="center" th:text="${all.paperSize.size}"></td>
                    <td align="center" th:text="${all.paperDensity.density}"></td>
                    <td align="center" th:text="${all.printer.model}"></td>
                    <td align="center" th:text="${all.statusWork.statusWork}"></td>
                    <td align="center" th:text="${all.date}"></td>
                    <td align="center" th:text="${all.allow}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<!--<div th:replace="fragments/footer :: footer"/>-->

<script th:src="@{../static/js/app.js}"></script>
<script th:src="@{../static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
</body>
</html>