<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Отправка заявки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/js/bootstrap.min.js" th:href="@{/js/jquery-3.2.1.min.js}" rel="stylesheet" media="screen"/>
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script language="JavaScript">
        function hello() {
            var message = document.createElement('message');
            document.body.appendChild(message);
            message.appendChild(document.createTextNode("Заявка отправленна!"));
        }
    </script>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #464a4c;
            color: black;
            text-align: left;
        }
    </style>
</head>
<style type="text/css">
    table th, table td {
        padding: auto;
    }

    body {
        background-image: url('/pic/backgroung.png');
        background-size: 100%;
    }

    nav {
        background-color: #464a4c;
        margin-bottom: 20px;
        height: 30px;
    }

    nav ul li {
        float: left;
        margin-right: 22px
    }
</style>
<body>
<nav>
    <div>
        <a th:href="@{/list-bids-now-mount}">Заявки за текущий месяц</a>|
        <a th:href="@{/list-bids-last-mount}">Заявки за прошлый месяц</a>|
        <a th:href="@{/approval-bid}">Одобрения заявки</a>|
        <a th:href="@{/plotter-save}">Ввод данных для плоттера</a>|
        <a th:href="@{/}">Заявка</a>
    </div>
</nav>
<!--<div th:replace="fragments/header :: header"/>-->
<div align="left">
    <form th:action="@{/}" method="post" th:object="${bidDto}">
        <label th:for="documentName"></label>
        <p><label>
                <textarea type="text" rows="2" cols="80" placeholder="Название документа" th:field="*{documentName}"
                          required autofocus></textarea>
        </label></p>
        <label th:for="customerOder" style="color: white">Фамилия заказчика :</label>
        <label>
            <input type="text" placeholder="Ваше ФИО" th:field="*{customerOder}" required autofocus>
        </label>
        <label th:for="edition" style="color: white">Колличество копий :</label>

        <label>
            <input type="number" style="width: 50px" min="1" placeholder="1...." th:field="*{edition}" required
                   autofocus>
        </label>
        <p>
            <select th:field="*{paperSizeId}" autofocus>
                <option th:each="paperSize : ${allPaperSize}"
                        th:value="${paperSize.id}"
                        th:text="${paperSize.size}">
                </option>
            </select>

            <select th:field="*{paperDensityId}">
                <option th:each="allPaperDensity : ${allPaperDensity}"
                        th:value="${allPaperDensity.id}"
                        th:text="${allPaperDensity.density}">
                </option>
            </select>

            <select th:field="*{departmentId}" autofocus>
                <option th:each="department : ${allDepartments}"
                        th:value="${department.id}"
                        th:text="${department.name}">
                </option>
            </select>

            <select th:field="*{printerModelId}">
                <option th:each="allPrinters : ${allPrinters}"
                        th:value="${allPrinters.id}"
                        th:text="${allPrinters.model}">
                </option>
            </select>
        </p>
        <button type="submit" onclick="hello()" style="color: #01549b">Отправить на печать</button>
    </form>
</div>


<script th:src="@{../static/js/app.js}"></script>
<script th:src="@{../static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>


<!--<div th:replace="fragments/footer :: footer"/>-->
<div class="footer">
    <p>
        Created by Andrew Evlash
        © 2018 Minsk.
        <span>
        <a th:href="@{/login}">adm</a>
        </span>
    </p>
</div>
<link rel="import" href="fragments/footer.html"/>
</body>
</html>