<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ui>
    <tr th:each="allBid : ${allBidNowMounts}">All bid nuw mounts: </tr>
        <!--<h th:text="*{allBid.id}">-->
    <!--<t th:text="${allBid.department.name}"></t>-->
    <!--<td th:text="${allBid.documentName}"></td>-->
    <td th:text="${allBid.customerOder}"></td>
        <!--<p th:text="*{allBid.edition}">-->
        <!--<p th:text="*{allBid.paperSize.size}">-->
        <!--<p th:text="*{allBid.paperDensity.density}">-->
        <!--<p th:text="*{allBid.printer.model}">-->
        <!--<p th:text="*{allBid.statusWork.statusWork}">-->
    <!--<td th:text="*{allBid.date}"></td>-->
        <!--<p th:text="*{}">-->
        <!--<p th:text="*{}">-->
    </h>
</ui>
</body>
</html>