<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr th:each="all : ${all}">
    <td th:text="${all.id}"></td>
    <td th:utext="${all.department.name}"></td>
    <td th:utext="${all.documentName}"></td>
    <td th:utext="${all.customerOder}"></td>
    <td th:text="${all.edition}"></td>
    <td th:text="${all.paperSize.size}"></td>
    <td th:text="${all.paperDensity.density}"></td>
    <td th:text="${all.printer.model}"></td>
    <td th:text="${all.statusWork.statusWork}"></td>
    <td th:text="${all.date}"></td>
    <!--<p th:text="*{}">-->
    <!--<p th:text="*{}">-->
</tr>
</body>
</html>